body {
  background-color: lightblue;
  text-align: center;
}

.row {
  background-color: lightyellow;
}

.card {
  margin: auto;
}

#welcome {
    color: LightYellow;
    text-shadow: 2px 2px 5px white;
    font-family: cursive, serif;
    font-style: italic;
}
